* {
    box-sizing: border-box;
}

.box {
    width: 80%;
    margin: auto;
}

/*Estilização do formulário: */
.main-form {
    padding-left: 20px;
}

.main-form .form-group {
    padding-bottom: 10px;
}

.main-form .form-group input {
    padding: 10px;
    width: 100%;
}

.main-form .form-gropu label {
    display: block;
}

.buttom {
    padding: 15px;
    background-color: #333;
    color: #eee;
    border: none;
}
